html, body {
    font-size: 16px;
}

body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2;
    font-family: "Source Sans Pro", sans-serif;
}

header {
    padding: 20px;
    background-image: linear-gradient(
    to bottom,
    #0002,
    #0008
), url("img/banner.jpg");
    height: auto;
    color: #FFF;
}

header .login {
    float: right;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    background-color: rgba(000, 000, 000, 0.2);
}

header .login:hover {
    background-color: rgba(000, 000, 000, 0.6);
}

header .title {
    font-size: 64px;
    text-align: center;
    margin: 150px 50px 50px 50px;
    text-transform: uppercase;
    letter-spacing: 12px;
}

header .navbar {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

header .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.navbar ul li {
    padding: 10px 30px;
}

header .navbar a {
    text-decoration: none;
    color: #FFF;
    background-color: rgba(000, 000, 000, 0.2);
}

header .navbar a:hover {
    background-color: rgba(000, 000, 000, 0.6);
}

.left-box img {
    float: left;
    margin-right: 10px;
    border-radius: 4px;
}

.left-box {
    float: left;
    width: 50%;
    padding: 10px;
    margin: 50px 30px;
}

.right-box img {
    float: right;
    margin-left: 10px;
    border-radius: 4px;
}

.right-box {
    float: right;
    width: 50%;
    padding: 10px;
    margin: 30px;
}

hr {
    clear: both;
}

footer {
    float: bottom;
    background-color: lightgrey;
    text-align: center;
    padding-top: 10px;
}

footer ul {
    text-transform: uppercase;
    list-style: none;
    text-align: right;
    padding: 10px;
    font-size: 10px;
    margin-top: -60px;
    margin-right: 50px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* CONTACT & LOGGIN FORM */

input[type=email] {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=password] {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=text], textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: none 
}

input[type=submit] {
    background-color: rgba(000, 000, 000, 0.6);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(000, 000, 000, 0.2);
    color: #000;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 100px 540px;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* HOUSING */

.horizontal-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.horizontal-box {
    background-size: cover;   
    margin: 40px 0;
    border-radius: 12px;
    color: #FFF;
    text-decoration: none;
    padding: 30px 190px;
    text-align: center;
}

.horizontal-section a {
    padding: 0 30px;
    color: #FFF;
    text-decoration: none;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: bold;
}

.horizontal-section p {
    color: #FFF;
    font-size: 12px;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 100px 50px;
    border-radius: 4px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

/* SERVICES */

.container-services {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 40px;
}

.service {
    background-color: rgba(000, 000, 000, 0.6);;
    width: 60%;
    padding: 10px;
    margin: 40px;
    margin-top: 60px;
    border-radius: 12px;
    color: #FFF;
    display: none;
}

.service img {
    border-radius: 4%;
    padding: 0 9px 0 4px;
}

.service h3 {
    text-transform: uppercase;
    text-align: center;
}

.Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 107%;
    right: 450px;
    width: auto;
    margin-top: -23px;
    margin-right: 475px;
    padding: 17px;
    color: #FFF;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 5px 0 0 5px;
    user-select: none;
}

.forward {
    right: 0;
    border-radius: 0 5px 5px 0;
}

.Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
}
